* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
	background: #ff6815;
	height: 80px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 50px;
	font-weight: bold;
}
@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 20px;
	}
}

.filterCard{
    margin-top: 4rem;
    background-color: tomato;
    padding: 15px;
}

.filterCard .searchbar{
    text-align: center;
}

.pagination{
    display: block;
    margin: auto;
}

.itemList {
	margin-top: 3rem;
}

.noItems {
	text-align: center;
	color: white;
	font-size: 2rem;
}

.customCard {
	background-color: rgb(255, 216, 165);
	padding: 1rem;
	margin: 10px 10px;
	font-size: 1rem;
	transition: 0.5s;
	border-radius: 25px;
}

.customCard:hover {
	transform: translateY(-8px);
}

.customCard img {
	width: 70%;
	height: auto;
	min-height: 150px;
	display: block;
	margin: auto;
}

.customCard .description .itemName {
	text-align: center;
	font-weight: 600;
}

.customCard .description .itemCategory{
    text-align: center;
}

.customCard .description .itemCategory .bg-secondary{
	background-color: rgb(109, 109, 109) !important;
}
.customCard .description .box {
	width: 100%;
}

.customCard .description .box .itemPrice {
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.customCard .description .box .buybtn {
	display: block;
	margin: auto;
	text-align: center;
}

.customCard .description .box .buybtn button {
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	background-color: #ff6815;
	border: none;
	border-radius: 10px;
	outline: 0;
}

.customCard .description .box .itemPrice .discounted {
	display: inline-block;
	position: relative;
	color: red;
}

.customCard .description .itemPrice .discounted::before {
	content: "";
	position: absolute;

	left: -0.1em;
	right: -0.1em;
	top: 0.3em;
	bottom: 0.3em;
	background: linear-gradient(
		to left top,
		transparent 45.5%,
		currentColor 47.5%,
		currentColor 52.5%,
		transparent 54.5%
	);
	pointer-events: none;
	color: gray;
}
